.highlight {
  background-color: #efefef;
  padding: 7px 7px 7px 10px;
  border: 1px solid #ddd;
  -moz-box-shadow: 3px 3px rgba(0,0,0,0.1);
  -webkit-box-shadow: 3px 3px rgba(0,0,0,0.1);
  box-shadow: 3px 3px rgba(0,0,0,0.1);
  margin: 20px 0 20px 0;
  overflow: scroll; font-family: 'Source Code Pro', monospace;}
  
pre, code { background-color: #ffffcc; font-family: 'Source Code Pro', monospace;}

.highlight .c { color: #586E75; font-family: 'Source Code Pro', monospace;} /* Comment */
.highlight .err { color: #93A1A1; font-family: 'Source Code Pro', monospace;} /* Error */
.highlight .g { color: #93A1A1; font-family: 'Source Code Pro', monospace;} /* Generic */
.highlight .k { color: #859900; font-family: 'Source Code Pro', monospace;} /* Keyword */
.highlight .l { color: #93A1A1; font-family: 'Source Code Pro', monospace;} /* Literal */
.highlight .n { color: #93A1A1 ; font-family: 'Source Code Pro', monospace;} /* Name */
.highlight .o { color: #859900 ; font-family: 'Source Code Pro', monospace;} /* Operator */
.highlight .x { color: #CB4B16 ; font-family: 'Source Code Pro', monospace;} /* Other */
.highlight .p { color: #93A1A1 ; font-family: 'Source Code Pro', monospace;} /* Punctuation */
.highlight .cm { color: #586E75 ; font-family: 'Source Code Pro', monospace;} /* Comment.Multiline */
.highlight .cp { color: #859900 ; font-family: 'Source Code Pro', monospace;} /* Comment.Preproc */
.highlight .c1 { color: #586E75 ; font-family: 'Source Code Pro', monospace;} /* Comment.Single */
.highlight .cs { color: #859900 ; font-family: 'Source Code Pro', monospace;} /* Comment.Special */
.highlight .gd { color: #2AA198 ; font-family: 'Source Code Pro', monospace;} /* Generic.Deleted */
.highlight .ge { color: #93A1A1; font-style: italic ; font-family: 'Source Code Pro', monospace;} /* Generic.Emph */
.highlight .gr { color: #DC322F ; font-family: 'Source Code Pro', monospace;} /* Generic.Error */
.highlight .gh { color: #CB4B16 ; font-family: 'Source Code Pro', monospace;} /* Generic.Heading */
.highlight .gi { color: #859900 ; font-family: 'Source Code Pro', monospace;} /* Generic.Inserted */
.highlight .go { color: #93A1A1 ; font-family: 'Source Code Pro', monospace;} /* Generic.Output */
.highlight .gp { color: #93A1A1 ; font-family: 'Source Code Pro', monospace;} /* Generic.Prompt */
.highlight .gs { color: #93A1A1; font-weight: bold ; font-family: 'Source Code Pro', monospace;} /* Generic.Strong */
.highlight .gu { color: #CB4B16 ; font-family: 'Source Code Pro', monospace;} /* Generic.Subheading */
.highlight .gt { color: #93A1A1 ; font-family: 'Source Code Pro', monospace;} /* Generic.Traceback */
.highlight .kc { color: #CB4B16 ; font-family: 'Source Code Pro', monospace;} /* Keyword.Constant */
.highlight .kd { color: #268BD2 ; font-family: 'Source Code Pro', monospace;} /* Keyword.Declaration */
.highlight .kn { color: #859900 ; font-family: 'Source Code Pro', monospace;} /* Keyword.Namespace */
.highlight .kp { color: #859900 ; font-family: 'Source Code Pro', monospace;} /* Keyword.Pseudo */
.highlight .kr { color: #268BD2 ; font-family: 'Source Code Pro', monospace;} /* Keyword.Reserved */
.highlight .kt { color: #DC322F ; font-family: 'Source Code Pro', monospace;} /* Keyword.Type */
.highlight .ld { color: #93A1A1 ; font-family: 'Source Code Pro', monospace;} /* Literal.Date */
.highlight .m { color: #2AA198 ; font-family: 'Source Code Pro', monospace;} /* Literal.Number */
.highlight .s { color: #2AA198 ; font-family: 'Source Code Pro', monospace;} /* Literal.String */
.highlight .na { color: #93A1A1 ; font-family: 'Source Code Pro', monospace;} /* Name.Attribute */
.highlight .nb { color: #B58900 ; font-family: 'Source Code Pro', monospace;} /* Name.Builtin */
.highlight .nc { color: #268BD2 ; font-family: 'Source Code Pro', monospace;} /* Name.Class */
.highlight .no { color: #CB4B16 ; font-family: 'Source Code Pro', monospace;} /* Name.Constant */
.highlight .nd { color: #268BD2 ; font-family: 'Source Code Pro', monospace;} /* Name.Decorator */
.highlight .ni { color: #CB4B16 ; font-family: 'Source Code Pro', monospace;} /* Name.Entity */
.highlight .ne { color: #CB4B16 ; font-family: 'Source Code Pro', monospace;} /* Name.Exception */
.highlight .nf { color: #268BD2 ; font-family: 'Source Code Pro', monospace;} /* Name.Function */
.highlight .nl { color: #93A1A1 ; font-family: 'Source Code Pro', monospace;} /* Name.Label */
.highlight .nn { color: #93A1A1 ; font-family: 'Source Code Pro', monospace;} /* Name.Namespace */
.highlight .nx { color: #555 ; font-family: 'Source Code Pro', monospace;} /* Name.Other */
.highlight .py { color: #93A1A1 ; font-family: 'Source Code Pro', monospace;} /* Name.Property */
.highlight .nt { color: #268BD2 ; font-family: 'Source Code Pro', monospace;} /* Name.Tag */
.highlight .nv { color: #268BD2 ; font-family: 'Source Code Pro', monospace;} /* Name.Variable */
.highlight .ow { color: #859900 ; font-family: 'Source Code Pro', monospace;} /* Operator.Word */
.highlight .w { color: #93A1A1 ; font-family: 'Source Code Pro', monospace;} /* Text.Whitespace */
.highlight .mf { color: #2AA198 ; font-family: 'Source Code Pro', monospace;} /* Literal.Number.Float */
.highlight .mh { color: #2AA198 ; font-family: 'Source Code Pro', monospace;} /* Literal.Number.Hex */
.highlight .mi { color: #2AA198 ; font-family: 'Source Code Pro', monospace;} /* Literal.Number.Integer */
.highlight .mo { color: #2AA198 ; font-family: 'Source Code Pro', monospace;} /* Literal.Number.Oct */
.highlight .sb { color: #586E75 ; font-family: 'Source Code Pro', monospace;} /* Literal.String.Backtick */
.highlight .sc { color: #2AA198 ; font-family: 'Source Code Pro', monospace;} /* Literal.String.Char */
.highlight .sd { color: #93A1A1 ; font-family: 'Source Code Pro', monospace;} /* Literal.String.Doc */
.highlight .s2 { color: #2AA198 ; font-family: 'Source Code Pro', monospace;} /* Literal.String.Double */
.highlight .se { color: #CB4B16 ; font-family: 'Source Code Pro', monospace;} /* Literal.String.Escape */
.highlight .sh { color: #93A1A1 ; font-family: 'Source Code Pro', monospace;} /* Literal.String.Heredoc */
.highlight .si { color: #2AA198 ; font-family: 'Source Code Pro', monospace;} /* Literal.String.Interpol */
.highlight .sx { color: #2AA198 ; font-family: 'Source Code Pro', monospace;} /* Literal.String.Other */
.highlight .sr { color: #DC322F ; font-family: 'Source Code Pro', monospace;} /* Literal.String.Regex */
.highlight .s1 { color: #2AA198 ; font-family: 'Source Code Pro', monospace;} /* Literal.String.Single */
.highlight .ss { color: #2AA198 ; font-family: 'Source Code Pro', monospace;} /* Literal.String.Symbol */
.highlight .bp { color: #268BD2 ; font-family: 'Source Code Pro', monospace;} /* Name.Builtin.Pseudo */
.highlight .vc { color: #268BD2 ; font-family: 'Source Code Pro', monospace;} /* Name.Variable.Class */
.highlight .vg { color: #268BD2 ; font-family: 'Source Code Pro', monospace;} /* Name.Variable.Global */
.highlight .vi { color: #268BD2 ; font-family: 'Source Code Pro', monospace;} /* Name.Variable.Instance */
.highlight .il { color: #2AA198 ; font-family: 'Source Code Pro', monospace;} /* Literal.Number.Integer.Long */
