---
layout: default
title: Recent Posts
---

    {% for post in paginator.posts %}
    <div class="mdl-card mdl-cell mdl-cell--12-col postcard" align="start">
               <div class="mdl-card__media mdl-color-text--grey-50"
               style="{% if post.image %}background: linear-gradient( rgba(0, 0, 0, 0.4),
               rgba(0, 0, 0, 0.4) ), url('{{ post.image }}')center / cover;{% endif %}
               padding:16px; color:white;">
                 <h3>{{ post.title }}</h3>
                 <table><tr><td><i class="material-icons">today</i></td><td>{{ post.date | date: "%Y.%m.%d" }}</td></tr></table>
               </div>
               <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
                 {{ post.content | strip_html | truncatewords:60 }}
                  </div>
               <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
                 <a href="{{ site.baseurl }}/{{ post.url }}">
                   <button class="mdl-button mdl-js-button">
                      Read More...
                    </button>
                  </a>
               </div>
             </div>


{% endfor %}
<table align="center" class="mdl-data-table mdl-js-data-table"   style="margin-bottom:160px;">
  <tr>
    <td style="padding-right:16px;">
      <a href="{% if paginator.next_page %}{{ site.baseurl }}/{{ paginator.next_page_path }}{% else %}{% endif %}">
        <button class="mdl-button mdl-js-button">
          << Older
        </button>
        </a>
      </td>
      <td>{{ paginator.page }} / {{ paginator.total_pages }}</td>
      <td style="padding-left:16px;">
        <a href="{% if paginator.previous_page %}{{ site.baseurl }}/{{ paginator.previous_page_path }}{% else %}{% endif %}">
          <button class="mdl-button mdl-js-button">
         Newer >>
        </button>
       </a>
     </td>
   </tr>
 </table>
