---
layout: default
title: Tags
permalink: /tags/
---

    <section class="content postcard" align="start">
       {% for tag in site.tags %}
       <a href="#{{ tag | first }}">
         <button type="button" class="mdl-chip">
             <span class="mdl-chip__text">#{{ tag | first }}</span>
         </button>
       </a>
       {% endfor %}
     </section>

      {% for tag in site.tags %}
      <section class="content postcard" align="start">
      <span class="mdl-chip">
        <span class="mdl-chip__text" id="{{ tag | first }}">#{{ tag | first }}</span>
      </span>
  {% for posts in tag %}
    {% for post in posts %}
    {% if post.title %}
    <p>{{ post.date | date: "%Y.%m.%d" }} | <a href="{{ site.baseurl }}/{{ post.url }}">{{ post.title }}</a>{% if post.author %} | {{ post.author }} {% endif %}</p>
    {% endif %}
    {% endfor %}
  {% endfor %}
</section>

  {% endfor %}


</div>
