<div class="dropdown is-hoverable">
  <div class="dropdown-trigger">
    <button class="button is-outlined is-{{include.color}}"
     aria-haspopup="true" aria-controls="share-menu-{{include.id}}">
      <span class="icon is-small">
        <i class="fas fa-share" aria-hidden="true"></i>
      </span>
      <span>Share</span>
    </button>
  </div>
  <div class="dropdown-menu" id="share-menu-{{include.id}}" role="menu">
    <div class="dropdown-content">
      <a href="https://plus.google.com/share?url={{ site.url }}{{ site.baseurl }}{{ page.url }}" class="dropdown-item">
        <span class="icon is-small"><i class="fab fa-google-plus"></i></span>
        Google Plus
      </a>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" class="dropdown-item">
        <span class="icon is-small"><i class="fab fa-facebook"></i></span>
        Facebook
      </a>
      <a href="https://twitter.com/intent/tweet?text={{ page.title }} {{ site.url }}{{ site.baseurl }}{{ page.url }}" class="dropdown-item">
        <span class="icon is-small"><i class="fab fa-twitter"></i></span>
        Twitter
      </a>
      <a onclick="prompt('Copy This URL','{{ site.url }}{{ site.baseurl }}{{ page.url }}')" class="dropdown-item">
        <span class="icon is-small"><i class="fas fa-link"></i></span>
        Copy URL
      </a>
    </div>
  </div>
</div>
