#menu{
  margin-bottom: 32px;
}

.main.box.tile{
  padding-top: 64px;
  padding-bottom: 64px;
  height: 80vh;
}

.main.tile.is-parent{
  margin-bottom: 32px;
}

.main.box.tile > h1{
  font-size: 3em;
  font-style: bold;
}
