@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

body{
  height: 100%;
  margin: 0px;
  font-family: 'Noto Sans KR', sans-serif;
}
.post-card{
  padding: 24px;
  height: 500px;
  background-color: grey;
  color: white;
}

.post-card-small{
  padding: 24px;
  height: 200px;
  background-color: grey;
  color: white;
}

.postview-header{
  padding: 32px;
  height: 100%;
  max-height: 720px;
  background-color: grey;
  color: white;
}

.postview-titlebox > h1{
  font-size: 45px;
}

@media handheld, only screen and (max-width: 767px) {
  .postview-titlebox > h1{
    font-size: 30px;
  }
}

.postview-content{
  max-width: 800px;
  padding: 16px;
  text-align: left;
}

.resultitem{
  max-width: 800px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: left;
}

.share-btn{
  margin-top: -35px;
  margin-left: 80%;
}

.hr-with-margin{
  margin-top: 16px;
  margin-bottom: 16px;
}

.social-btns{
  padding: 8px;
}

img{
  width: 100%;
}

.footer{
  margin-top: 16px;
  background-color: #ecf0f1;
  padding: 32px;

}

.footer-btn{
  color: black;
}

.container{
  min-height: 75%;
}

blockquote{
  border-left: solid grey 8px;
  padding: 0px 8px 0px 8px;
}


/**/
body{
  margin: 0;
  color: white;
  background: black;
}
.body{
  transition: background 0.5s linear;
}
.header{
  padding-top: 8px;
  position: fixed;
  top: 0;
  width: 100vw;
}
.header > ul > li{
  float: left;
  list-style: none;
  padding: 8px;
}
.cover{
  height: 100vh;
  padding-top: 30vh;
  padding-left: 40px;
  padding-right: 40px;
}

.cover > h1{
  font-size: 3em;
}

.main{
  min-height: 70vh;
  padding-left: 40px;
  padding-right: 40px;
}
.common{
  max-width: 1000px;
  margin: auto;
}

.button-white{
  padding: 8px;
  border: thin solid black;
  background-color: white;
  color: black;
}

.button-black{
  padding: 8px;
  border: thin solid white;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.button-white:hover{
  padding: 8px;
  border: thin solid black;
  background-color: black;
  color: white;
}

.button-black:hover{
  padding: 8px;
  border: thin solid white;
  background-color: white;
  color: black;
}

.post-item{
  padding-top: 16px;
  padding-bottom: 32px;
}
