---
layout: default
---
<body onscroll="setBackground()" onload="setBackground()">
<section class="body">
  {% include header.html %}
  <div class="cover common">
    {% for post in paginator.posts %}
    {% if forloop.index == 1 %}
    <script>
      var bgImgUrl = "{{post.image}}";
    </script>
    <h1>{{post.title}}</h1>
    <p>
      {{ post.date | date: "%Y.%m.%d" }}
    </p>
    <p>
      {{ post.content | strip_html | truncatewords:50 }}
      <section>
        {% for tag in post.tags %}
        <b>#{{ tag }}</b>
        {% endfor %}
      </section>
    </p>
    <a href="{{ site.baseurl }}/{{ post.url }}" class="button-black">Read this post</a>
    {% endif %}
    {% endfor %}
    <p><b>
        Scroll down to see more posts
    </b></p>
  </div>
  <div class="main common">
    {% for post in paginator.posts %}
    {% if forloop.index > 1 %}
    <div class="post-item">
    <h1>{{post.title}}</h1>
    <p>
      {{ post.date | date: "%Y.%m.%d" }}
    </p>
    <p>
      {{ post.content | strip_html | truncate:50 }}
      <section>
        {% for tag in post.tags %}
        <b>#{{ tag }}</b>
        {% endfor %}
      </section>
    </p>
    <a href="{{ site.baseurl }}/{{ post.url }}" class="button-white">Read this post</a>
      </div>
      {% endif %}
      {% endfor %}
      <div style="padding:32px;" align="center">
        <a class="button-white" {% if paginator.next_page %} href="{{ site.baseurl }}/{{ paginator.next_page_path }}"{% else %}{% endif %}>
          <i class="fa fa-arrow-left" aria-hidden="true"></i>Older
        </a>
        <b style="padding: 8px;">
          {{ paginator.page }} / {{ paginator.total_pages }}
        </b>
        <a class="button-white" {% if paginator.previous_page %} href="{{ site.baseurl }}/{{ paginator.previous_page_path }}"{% else %}{% endif %}>
          Newer<i class="fa fa-arrow-right" aria-hidden="true"></i>
        </a>
      </div>

  </div>

  <!-- <table align="center" style="margin-top:32px; padding-bottom: 64px;">
    <tr>
      <td style="padding:16px;">

        </td>
        <td>{{ paginator.page }} / {{ paginator.total_pages }}</td>
        <td style="padding:16px;">

       </td>
     </tr>
   </table> -->

     <script>
       function setBackground(){
         var bodyStyle = document.getElementsByTagName('body')[0].style;
         var bodySectionStyle = document.getElementsByClassName('body')[0].style;
         var headerStyle = document.getElementsByClassName('header')[0].style;
         bodyStyle.background = "linear-gradient( rgba(0, 0, 0, 0.4), \
         rgba(0, 0, 0, 0.4) ), url("+bgImgUrl+")center / cover";
         if(window.scrollY > (window.innerHeight * 0.6)){
           bodyStyle.color = "black";
           bodySectionStyle.background = "white";
           headerStyle.background = "white";
         }else{
           bodyStyle.color = "white";
           bodySectionStyle.background = "rgba(0, 0, 0, 0)";
           headerStyle.background = "rgba(0, 0, 0, 0)";
         }
       }
     </script>
</section>
{% include javascripts.html %}
</body>
