---
layout: default
---
<body onscroll="setBackground()" onload="setBackground()">
<section class="body">
  {% include header.html %}
  <div class="cover common">
    <h1>{{page.title}}</h1>
    <p><b>
        Scroll down to read more
    </b></p>
  </div>
  <div class="main common">
    {{ page.content }}
  </div>

     <script>
       function setBackground(){
         var bodyStyle = document.getElementsByTagName('body')[0].style;
         var bodySectionStyle = document.getElementsByClassName('body')[0].style;
         var headerStyle = document.getElementsByClassName('header')[0].style;
         if(window.scrollY > (window.innerHeight * 0.6)){
           bodyStyle.color = "black";
           bodySectionStyle.background = "white";
           headerStyle.background = "white";
         }else{
           bodyStyle.color = "white";
           bodySectionStyle.background = "rgba(0, 0, 0, 0)";
           headerStyle.background = "rgba(0, 0, 0, 0)";
         }
       }
     </script>
</section>
{% include javascripts.html %}
</body>
