---
layout: default
---
<div class="post-header"
style="{% if page.image %}background: linear-gradient( rgba(0, 0, 0, 0.4),
rgba(0, 0, 0, 0.4) ), url('{{ page.image }}')center / cover;{% endif %}
padding:16px;">
  <section align="start" class="post-header">
  <h3 style="color:white; padding-top:128px;">{{ page.title }}</h3>
  <table><tr><td><i class="material-icons">today</i></td><td>{{ page.date | date: "%Y.%m.%d" }}</td></tr></table>
</section>
</div>
           <section class="content postcard">
           {{ content }}<br>
           {% for tag in page.tags %}
           <a class="card-content" href="{{ site.baseurl }}/tags/#{{ tag }}">
             <button type="button" class="mdl-chip">
                 <span class="mdl-chip__text">#{{ tag }}</span>
             </button>
           </a>
          {% endfor %}
          <!-- 구글플러스 +1 버튼 -->
           <g:plusone></g:plusone><br><br>
          <!-- Facebook 좋아요 버튼 -->
          <div class="fb-like" data-href="{{ site.baseurl }}/{{ page.url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div><br>
</section>

         <div class="mdl-card mdl-cell mdl-cell--12-col postcard content" align="start">
        {% include adsense.html %}
                  </div>

                  <div class="mdl-card mdl-cell mdl-cell--12-col postcard content" align="start">
                 {% include disqus.html %}
                           </div>
                           <table align="center" style="padding-bottom:160px;">
                             <tr>
                               <td style="padding-right:16px;">
                                 <a href="{% if page.previous.url %}{{ site.baseurl }}/{{page.previous.url}}{% else %}{% endif %}" class="demo-nav__button">
                                   <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
                                     <i class="material-icons">arrow_back</i>
                                     </button>
                                       <b style="color:blog;">Older</b>
                                   </a>
                                 </td>
                                 <td style="padding-left:16px;">
                                   <a href="{% if page.next.url %}{{ site.baseurl }}/{{page.next.url}}{% else %}{% endif %}" class="demo-nav__button">
                                    <b style="color:blog;">Newer</b>
                                   <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
                                     <i class="material-icons">arrow_forward</i>
                                   </button>
                                  </a>
                                </td>
                              </tr>
                            </table>
