---
layout: default
---
<article
  {% if page.image %}
  style="background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),url('{{page.image}}') center / cover;"
  {% endif %}
  class="post box main hero is-dark is-bold">
  <div class="hero-body">
    <section>
      <h1 class="title is-size-1">{{ page.title }}</h1>
      <p class="subtitle">{{ page.date | date: "%Y.%m.%d" }}</p>
      {% include sharebtn.html color="light" id="0" %}
    </section>
  </div>
</article>
  <div class="content">
    {{page.content}}
    {% include sharebtn.html color="dark" id="1" %}
    {% include adsense.html %}
    {% include disqus.html %}
    {% if page.previous.url %}
    <hr />
      <div class="post-item">
          <h2>{{ page.previous.title }}</h2>
          <p>
            {{ page.previous.date | date: "%Y.%m.%d" }}
          </p>
          <a class="button-white" href="{{ site.baseurl }}/{{ page.previous.url }}">Read this post</a>
      </div>
    {% else %}{% endif %}
    {% if page.next.url %}
    <hr />
      <div class="post-item">
          <h2>{{ page.next.title }}</h2>
          <p>
            {{ page.next.date | date: "%Y.%m.%d" }}
          </p>
          <a class="button-white" href="{{ site.baseurl }}/{{ page.next.url }}">Read this post</a>
      </div>
    {% else %}{% endif %}
  </div>
